.footer-bottom {
    background-color: #303030;
    padding: 50px;

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.sign-up-button a {
    font-size: 20px;
    color: white;
    border: #0C7CEC 2px solid;
    padding: 15px;

    &:hover {
        background-color: #0C7CEC;
        transition: .4s;
    }
}

h3 {
    font-size: 20px;
    color: #0C7CEC;
}

.social-buttons {
    display: flex;
    align-items: center;
    gap: 25px;

    ul {
        display: flex;
        gap: 20px;
    }
}